In [1]:
import numpy as np
import pandas as pd
import pyodbc 
import mysql.connector
from datetime import datetime

In [2]:
date = '2021-09-01'
ASM = 'Ánh'

selected_date = "'{}%'".format(date)
if(ASM == ''):  
    selected_ASM = "Á"
elif(ASM == ''):
    selected_ASM = "T"
else:
    selected_ASM = "H"

In [92]:
final_df = pd.DataFrame(columns = [])

In [93]:
date = '2021-09-01'

for ASM in ["", "", ""]:
    selected_date = "'{}%'".format(date)
    if(ASM == ''):  
        selected_ASM = ""
    elif(ASM == ''):
        selected_ASM = ""
    else:
        selected_ASM = ""

    # Fetch all data with type=1 for subtraction
    connection = mysql.connector.connect(host='',
                                             database='',
                                             user='',
                                             password='')

    cursor = connection.cursor()
    mySql_Create_Table_Query = '''
    SELECT b.id, b.depotId, b.createdDateTime, saleId, discount, money, usedPointsMoney, d.ASM, d.Store
    FROM . as b

    LEFT JOIN . as d ON b.depotId=d.DepotId
    WHERE b.Type = 1 AND b.Mode = 2 AND d.ASM LIKE '{}%' AND b.createdDateTime LIKE {}
    '''.format(selected_ASM, selected_date)

    cursor.execute(mySql_Create_Table_Query)

    data = cursor.fetchall()
    data_df = pd.DataFrame(data, columns=cursor.column_names)

    # Save for analysis
    df = data_df

    df["mone"] = df["money"].apply(lambda x: float(x))
    df["usedPointsMoney"] = df["usedPointsMoney"].apply(lambda x: float(x))

    # Doanh Thu = DTLD - Tieu Diem
    df["Doanh Thu"] = df["money"] - df["usedPointsMoney"]

    sum_money = df.groupby("saleId")['Doanh Thu'].sum()

    # generate a string form to query order line items in database
    arr = ""

    arr = arr + "("
    for i in np.unique(df.id.values):
        arr = arr + str(i)
        arr = arr + ", "

    arr = arr[:-2]
    arr = arr + ")"

    # Query order details for each id
    connection = mysql.connector.connect(host='',
                                             database='',
                                             user='',
                                             password='')

    cursor = connection.cursor()
    mySql_Create_Table_Query = '''
    SELECT * FROM .
    WHERE billId IN {};
    '''.format(arr)

    print(mySql_Create_Table_Query)

    cursor.execute(mySql_Create_Table_Query)

    data = cursor.fetchall()
    product_df = pd.DataFrame(data, columns=cursor.column_names)


    product_df["code3"] = product_df["code"].apply(lambda x: x[:3])

    def func(x):
        if(x == "KID"):
            return "kid"
        elif(x == "APM" or x == "APN"):
            return "polo"
        else:
            return "sale_60%"

    product_df["marked"] = product_df.code3.apply(lambda x: func(x))

    product_df["price"] = product_df["price"].apply(lambda x: float(x))
    product_df["discount"] = product_df["discount"].apply(lambda x: float(x))
    product_df["money"] = product_df["money"].apply(lambda x: float(x))

    saleid_df = df[["saleId", "id"]]
    saleid_df.rename(columns={"id": "billId"}, inplace=True)

    total_df = product_df.merge(saleid_df, how="left", on="billId")

    marked_df = total_df.groupby(["saleId", "marked"])['money'].sum()
    marked_df2 = total_df.groupby(["saleId", "marked"])['money'].count()

    marked_df = pd.concat([marked_df, marked_df2], axis=1)
    marked_df.columns = ["money", "SL"]

    category_df = marked_df.unstack().reset_index()

    total_sale_df = pd.DataFrame(sum_money).reset_index()
    result = total_sale_df.merge(category_df, how="left", on="saleId")

    # Save doanh thu tra
    dtt_df = result

    # Doanh Thu Len Don - Doanh Thu Tra -> OKELA
    # Fetch all data with type=1 for subtraction

    connection = mysql.connector.connect(host='m',
                                             database='',
                                             user='',
                                             password='')

    cursor = connection.cursor()
    mySql_Create_Table_Query = '''
    SELECT b.id, b.depotId, b.createdDateTime, saleId, discount, money, usedPointsMoney, d.ASM, d.Store
    FROM . as b

    LEFT JOIN . as d ON b.depotId=d.DepotId
    WHERE b.Type = 2 AND b.Mode = 2 AND d. LIKE '{}%' AND b.createdDateTime LIKE {}
    '''.format(selected_ASM, selected_date)

    cursor.execute(mySql_Create_Table_Query)

    data = cursor.fetchall()
    data_df = pd.DataFrame(data, columns=cursor.column_names)

    # Save for analysis
    df = data_df

    df["money"] = df["money"].apply(lambda x: float(x))
    df["usedPointsMoney"] = df["usedPointsMoney"].apply(lambda x: float(x))

    # Doanh Thu = DTLD - Tieu Diem
    df["Doanh Thu"] = df["money"] - df["usedPointsMoney"]

    sum_money = df.groupby("saleId")['Doanh Thu'].sum()

    # generate a string form to query order line items in database
    arr = ""

    arr = arr + "("
    for i in np.unique(df.id.values):
        arr = arr + str(i)
        arr = arr + ", "

    arr = arr[:-2]
    arr = arr + ")"

    # Query order details for each id
    connection = mysql.connector.connect(host='',
                                             database='',
                                             user='',
                                             password='')

    cursor = connection.cursor()
    mySql_Create_Table_Query = '''
    SELECT * FROM .
    WHERE billId IN {};
    '''.format(arr)

    cursor.execute(mySql_Create_Table_Query)

    data = cursor.fetchall()
    product_df = pd.DataFrame(data, columns=cursor.column_names)


    product_df["code3"] = product_df["code"].apply(lambda x: x[:3])

    def func(x):
        if(x == "KID"):
            return "kid"
        elif(x == "APM" or x == "APN"):
            return "polo"
        else:
            return "sale_60%"

    product_df["marked"] = product_df.code3.apply(lambda x: func(x))

    product_df["price"] = product_df["price"].apply(lambda x: float(x))
    product_df["discount"] = product_df["discount"].apply(lambda x: float(x))
    product_df["money"] = product_df["money"].apply(lambda x: float(x))

    saleid_df = df[["saleId", "id"]]
    saleid_df.rename(columns={"id": "billId"}, inplace=True)

    total_df = product_df.merge(saleid_df, how="left", on="billId")

    marked_df = total_df.groupby(["saleId", "marked"])['money'].sum()
    marked_df2 = total_df.groupby(["saleId", "marked"])['money'].count()

    marked_df = pd.concat([marked_df, marked_df2], axis=1)
    marked_df.columns = ["money", "SL"]

    category_df = marked_df.unstack().reset_index()

    total_sale_df = pd.DataFrame(sum_money).reset_index()
    result = total_sale_df.merge(category_df, how="left", on="saleId")

    # result: dtld, dtt_df: dtt
    result.fillna(0.00, inplace=True)
    dtt_df.fillna(0.00, inplace=True)

    index_df = result[["saleId"]]

    dtt = index_df.merge(dtt_df, how="left", on="saleId").fillna(0.000)
    cols = result.columns.difference(['saleId'])
    result[cols] = result[cols].sub(dtt[cols])

    result["%polo"] = round(result[('money', 'polo')] / result["Doanh Thu"] * 100, 2)
    result["%sale_60%"] = round(result[('money', 'sale_60%')] / result["Doanh Thu"] * 100, 2)
    result["%kid"] = round(result[('money', 'kid')] / result["Doanh Thu"] * 100, 2)

    result["Date"] = date
    result["ASM"] = ASM

    final_df = final_df.append(result)
    
    print("--------------NEXT---INTERATION--------------")

    SELECT * FROM YODY_ORDER.nhanh_prod_table
    WHERE billId IN (175112807, 175113240, 175113407, 175113611, 175113853, 175113865, 175114013, 175114091, 175114237, 175114755, 175114859, 175114930, 175115075, 175115247, 175115423, 175115576, 175115594, 175115665, 175115978, 175116197, 175116527, 175116803, 175116815, 175116941, 175116952, 175116959, 175116968, 175117210, 175117495, 175117696, 175118442, 175118446, 175118598, 175118623, 175118642, 175118741, 175118826, 175118870, 175118952, 175119041, 175119116, 175119173, 175119253, 175119270, 175119278, 175119309, 175119402, 175119407, 175119653, 175119727, 175119765, 175119962, 175120186, 175120255, 175120336, 175120364, 175120396, 175120459, 175120481, 175120490, 175120602, 175120725, 175120928, 175120936, 175121186, 175121194, 175121414, 175122263, 175122398, 175122418, 175122448, 175122451, 175122494, 175122547, 175122605, 175122623, 175122667, 175122688, 175122703, 175122777, 175122795, 175122851, 175122863, 175122935, 175122969, 175123071, 175123110, 175123150, 175123270, 175123335, 175123369, 175123380, 175123474, 175123608, 175123632, 175123930, 175124207, 175124216, 175124373, 175124550, 175124563, 175124585, 175124682, 175124781, 175124809, 175124979, 175125134, 175125235, 175125253, 175125486, 175125506, 175125821, 175125829, 175125920, 175125947, 175126015, 175126020, 175126036, 175126065, 175126079, 175126109, 175126297, 175126301, 175126635, 175127178, 175127256, 175127328, 175127676, 175127738, 175127897, 175128054, 175128157, 175128240, 175128263, 175128315, 175128391, 175128444, 175128494, 175128505, 175128574, 175128749, 175128772, 175128812, 175128956, 175128998, 175129067, 175129206, 175129305, 175129312, 175129326, 175129546, 175129795, 175129907, 175130101, 175130272, 175130346, 175130372, 175130427, 175130500, 175130578, 175130666, 175130941, 175131059, 175131191, 175131436, 175131466, 175132044, 175132066, 175132158, 175132265, 175132338, 175132399, 175132416, 175132545, 175132640, 175133063, 175133698, 175133735, 175134355, 175134466, 175134492, 175134517, 175134532, 175134815, 175134860, 175134961, 175134978, 175135153, 175135417, 175135711, 175135942, 175136065, 175136259, 175136468, 175136576, 175136593, 175136973, 175137078, 175137099, 175137319, 175137367, 175137463, 175137990, 175138216, 175138256, 175138298, 175138302, 175138558, 175138640, 175138858, 175139023, 175139187, 175139240, 175139326, 175139422, 175139464, 175139516, 175139615, 175139970, 175140064, 175140112, 175140322, 175140540, 175140705, 175140998, 175141125, 175141325, 175141460, 175141559, 175141565, 175141831, 175141933, 175141983, 175142221, 175142269, 175142472, 175142593, 175142757, 175142988, 175143111, 175143155, 175143358, 175143398, 175143451, 175143815, 175143819, 175144079, 175144376, 175144458, 175144813, 175144989, 175144991, 175145190, 175145208, 175145316, 175145456, 175145768, 175145809, 175145878, 175146027, 175146222, 175146693, 175146820, 175147020, 175147027, 175147069, 175147293, 175147337, 175147340, 175147369, 175147399, 175147451, 175147463, 175147901, 175148022, 175148331, 175148780, 175149681, 175150109, 175150283, 175150458, 175150746, 175150798, 175151437, 175151475, 175151814, 175151993, 175152029, 175152206, 175152469, 175152658, 175152987, 175153044, 175153073, 175153088, 175153334, 175153474, 175153574, 175153814, 175153960, 175154107, 175154330, 175154759, 175154889, 175155303, 175155344, 175155487, 175155533, 175155967, 175156030, 175156170, 175156258, 175157334, 175157490, 175157886, 175157996, 175158253, 175158405, 175158419, 175158542, 175158731, 175158783, 175159022, 175159035, 175159231, 175159333, 175159364, 175159503, 175159688, 175159791, 175159821, 175159867, 175159906, 175160152, 175160229, 175160313, 175160542, 175160610, 175160616, 175160707, 175160794, 175160868, 175160975, 175160993, 175161245, 175161429, 175161516, 175161572, 175161931, 175161938, 175161945, 175162369, 175162461, 175162669, 175162798, 175162825, 175162965, 175163117, 175163145, 175163247, 175163288, 175163299, 175163484, 175163639, 175163746, 175163933, 175164202, 175164226, 175164485, 175164594, 175164670, 175164685, 175164724, 175164792, 175164908, 175164937, 175164979, 175165048, 175165131, 175165234, 175165278, 175165287, 175165322, 175165326, 175165340, 175165345, 175165552, 175165556, 175165644, 175165707, 175165943, 175166016, 175166023, 175166165, 175166176, 175166441, 175166455, 175166475, 175166533, 175166547, 175166726, 175166833, 175166927, 175166947, 175166963, 175167021, 175167237, 175167259, 175167275, 175167299, 175167385, 175167390, 175167396, 175167525, 175167559, 175167661, 175167771, 175167810, 175167940, 175168053, 175168184, 175168188, 175168227, 175168260, 175168362, 175168457, 175168500, 175168604, 175168636, 175168698, 175168760, 175168811, 175168987, 175169046, 175169084, 175169202, 175169303, 175169352, 175169389, 175169443, 175169458, 175169539, 175169597, 175169693, 175169874, 175169894, 175169906, 175170029, 175170054, 175170128, 175170565, 175170651, 175170734, 175170796, 175171007, 175171073, 175171104, 175171199, 175171229, 175171362, 175171453, 175171882, 175171949, 175171974, 175172275, 175172384, 175172419, 175172475, 175172583, 175172594, 175172727, 175172829, 175172871, 175172959, 175172965, 175172986, 175173047, 175173232, 175173518, 175173526, 175173764, 175173851, 175173904, 175173954, 175173959, 175174007, 175174053, 175174109, 175174130, 175174149, 175174213, 175174286, 175174307, 175174364, 175174453, 175174590, 175174762, 175174905, 175175073, 175175169, 175175179, 175175214, 175175328, 175175515, 175175540, 175175585, 175175627, 175175806, 175175920, 175176186, 175176188, 175176197, 175176227, 175176277, 175176348, 175176425, 175176566, 175176579, 175176810, 175176849, 175177071, 175177124, 175177186, 175177270, 175177318, 175177375, 175177547, 175177620, 175177796, 175177945, 175178075, 175178112, 175178146, 175178217, 175178225, 175178236, 175178242, 175178289, 175178313, 175178348, 175178550, 175178688, 175178941, 175179080, 175179098, 175179245, 175179298, 175179302, 175179362, 175179577, 175179825, 175180007, 175180155, 175180296, 175180614, 175180768, 175180824, 175180934, 175180956, 175181044, 175181059, 175181064, 175181096, 175181133, 175181145, 175181155, 175181289, 175181329, 175181459, 175181600, 175181649, 175181743, 175181784, 175181787, 175181907, 175182202, 175182312, 175182330, 175182435, 175182455, 175182459, 175182464, 175182525, 175182553, 175182578, 175182596, 175182803, 175182906, 175183012, 175183127, 175183209, 175183315, 175183388, 175183468, 175183604, 175183608, 175183698, 175183715, 175183774, 175183930, 175183996, 175184072, 175184075, 175184179, 175184229, 175184239, 175184279, 175184286, 175184425, 175184507, 175184815, 175184835, 175184868, 175184887, 175184893, 175184899, 175185124, 175185171, 175185210, 175185218, 175185226, 175185354, 175185403, 175185423, 175185578, 175185648, 175185666, 175185770, 175185787, 175185875, 175185888, 175185966, 175186017, 175186123, 175186143, 175186402, 175186500, 175186510, 175186716, 175186753, 175186801, 175186805, 175186967, 175187046, 175187086, 175187180, 175187187, 175187211, 175187235, 175187314, 175187341, 175187356, 175187535, 175187536, 175187685, 175187701, 175187722, 175187802, 175187844, 175188007, 175188036, 175188039, 175188056, 175188222, 175188239, 175188303, 175188378, 175188408, 175188453, 175188503, 175188513, 175188516, 175188531, 175188551, 175188566, 175188601, 175188613, 175188695, 175188774, 175188887, 175188906, 175188922, 175188946, 175189372, 175189400, 175189423, 175189449, 175189473, 175189489, 175189543, 175189573, 175189601, 175189939, 175189946, 175189993, 175190037, 175190108, 175190163, 175190199, 175190255, 175190328, 175190420, 175190502, 175190564, 175190585, 175190634, 175190726, 175190754, 175190786, 175190836, 175190897, 175190958, 175191016, 175191175, 175191238, 175191261, 175191340, 175191371, 175191518, 175191523, 175191588, 175191711, 175191718, 175191782, 175191893, 175191925, 175191944, 175191952, 175192028, 175192043, 175192088, 175192102, 175192190, 175192195, 175192229, 175192330, 175192360, 175192515, 175192592, 175192810, 175192830, 175192847, 175192927, 175193004, 175193115, 175193291, 175193331, 175193610, 175193616, 175193641, 175193701, 175193737, 175193748, 175193821, 175193851, 175193910, 175193976, 175193995, 175194094, 175194301, 175194340, 175194427, 175194475, 175194526, 175194643, 175194670, 175194762, 175194846, 175194936, 175195039, 175195098, 175195346, 175195403, 175195435, 175195464, 175195468, 175195493, 175195556, 175195557, 175195619, 175195667, 175195705, 175195720, 175195745, 175195810, 175195837, 175195843, 175195983, 175195992, 175196225, 175196242, 175196246, 175196306, 175196329, 175196377, 175196589, 175196615, 175196624, 175196679, 175196686, 175196718, 175196882, 175197055, 175197065, 175197116, 175197166, 175197190, 175197482, 175197496, 175197675, 175197866, 175197905, 175198135, 175198255, 175198391, 175198488, 175198558, 175198621, 175198788, 175198892, 175199080, 175199205, 175199336, 175199372, 175199429, 175199535, 175199564, 175199734, 175199759, 175199796, 175200141, 175200622, 175200869, 175200880, 175201094, 175201128, 175201178, 175201218, 175201256, 175201345, 175201408, 175201427, 175201575, 175201595, 175201644, 175201686, 175201730, 175201733, 175201781, 175201844, 175201854, 175201891, 175201942, 175201972, 175201987, 175202093, 175202095, 175202130, 175202275, 175202291, 175202314, 175202386, 175202395, 175202423, 175202439, 175202483, 175202793, 175202818, 175202846, 175203048, 175203191, 175203226, 175203245, 175203255, 175203272, 175203277, 175203310, 175203391, 175203574, 175203733, 175203838, 175203870, 175203920, 175204008, 175204060, 175204133, 175204278, 175204332, 175204350, 175204364, 175204432, 175204446, 175204529, 175204618, 175204642, 175204795, 175204935, 175205104, 175205142, 175205343, 175205392, 175205449, 175205516, 175205610, 175205615, 175205700, 175205816, 175205861, 175205872, 175206009, 175206164, 175206229, 175206479, 175206551, 175206577, 175206675, 175206860, 175206864, 175207244, 175207311, 175207392, 175207436, 175207652, 175207656, 175207806, 175207832, 175207834, 175207949, 175207987, 175208014, 175208080, 175208108, 175208137, 175208152, 175208261, 175208295, 175208483, 175208501, 175208766, 175209154);

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

--------------NEXT---INTERATION--------------

    SELECT * FROM YODY_ORDER.nhanh_prod_table
    WHERE billId IN (175111980, 175112876, 175112929, 175113302, 175113587, 175113598, 175113752, 175113885, 175113887, 175113930, 175114032, 175114182, 175114209, 175114373, 175114412, 175114461, 175114604, 175114664, 175114688, 175114695, 175114804, 175114944, 175114952, 175115098, 175115438, 175115486, 175115702, 175115972, 175116311, 175116416, 175116565, 175116926, 175116998, 175117090, 175117111, 175117120, 175117200, 175117421, 175117525, 175117731, 175118172, 175118668, 175118914, 175119073, 175119282, 175119340, 175119371, 175119530, 175119582, 175119607, 175119623, 175119635, 175119784, 175119820, 175119837, 175119883, 175119933, 175120428, 175120441, 175120493, 175120575, 175121061, 175121390, 175121500, 175121566, 175121580, 175121621, 175121675, 175122253, 175122333, 175122385, 175122601, 175122684, 175122729, 175122893, 175122898, 175122941, 175123021, 175123069, 175123133, 175123211, 175123328, 175123404, 175123518, 175123523, 175123576, 175123585, 175123827, 175123959, 175124005, 175124035, 175124071, 175124075, 175124274, 175124461, 175124539, 175124579, 175124629, 175125213, 175125357, 175125571, 175125733, 175125866, 175125964, 175126025, 175126033, 175126057, 175126082, 175126134, 175126200, 175126467, 175126624, 175126704, 175127378, 175127402, 175127526, 175127782, 175127801, 175127963, 175128068, 175128213, 175128349, 175128508, 175128579, 175128684, 175128739, 175128742, 175128931, 175128938, 175129147, 175129180, 175129388, 175129890, 175129895, 175129973, 175130105, 175130127, 175130259, 175130292, 175130698, 175130725, 175130834, 175130905, 175131183, 175131218, 175131557, 175131590, 175131847, 175132061, 175132302, 175132334, 175132395, 175132458, 175132601, 175133412, 175133453, 175133482, 175133602, 175133787, 175133938, 175134393, 175135304, 175135733, 175136121, 175137502, 175137621, 175137963, 175138246, 175138457, 175138631, 175138777, 175139043, 175139138, 175139345, 175139646, 175139845, 175139876, 175140002, 175140130, 175140154, 175140465, 175140597, 175140751, 175140922, 175140967, 175141219, 175141491, 175141554, 175141804, 175142073, 175142203, 175142399, 175143543, 175144132, 175144160, 175144834, 175144924, 175145205, 175145227, 175146148, 175146850, 175146919, 175147094, 175147123, 175147201, 175147539, 175147620, 175148114, 175148127, 175148358, 175148478, 175148844, 175149565, 175150026, 175151354, 175151494, 175151830, 175152012, 175152432, 175152912, 175153165, 175153227, 175153392, 175153663, 175153757, 175154525, 175154622, 175155480, 175155557, 175155899, 175156437, 175156772, 175156913, 175157377, 175158032, 175158070, 175158166, 175158290, 175158550, 175158649, 175158715, 175159127, 175159210, 175159304, 175159367, 175159380, 175159516, 175159961, 175160075, 175160249, 175160562, 175160587, 175160683, 175161027, 175161368, 175161395, 175161554, 175161608, 175161712, 175162164, 175162366, 175163066, 175163201, 175163307, 175163324, 175163393, 175163416, 175163526, 175163548, 175163593, 175163600, 175163738, 175163843, 175163895, 175163944, 175163948, 175164010, 175164036, 175164189, 175164470, 175164612, 175164806, 175165085, 175165102, 175165343, 175165670, 175165989, 175166026, 175166106, 175166323, 175166341, 175166492, 175166506, 175166508, 175166596, 175166703, 175166717, 175166793, 175166844, 175166984, 175167041, 175167049, 175167104, 175167377, 175167536, 175167538, 175167590, 175167753, 175167784, 175167834, 175167903, 175168126, 175168141, 175168256, 175168408, 175168415, 175168422, 175168430, 175168449, 175168581, 175168610, 175168795, 175168993, 175169043, 175169071, 175169090, 175169182, 175169558, 175169571, 175169631, 175169682, 175169862, 175169982, 175170041, 175170156, 175170188, 175170398, 175170521, 175170560, 175170588, 175170701, 175171238, 175171272, 175171332, 175171359, 175171691, 175171830, 175171997, 175172150, 175172165, 175172625, 175173005, 175173236, 175173262, 175173274, 175173360, 175173522, 175173646, 175173672, 175173883, 175173925, 175173960, 175173991, 175174015, 175174054, 175174083, 175174202, 175174209, 175174220, 175174290, 175174370, 175174379, 175174461, 175174551, 175174891, 175175136, 175175197, 175175481, 175175567, 175175650, 175175795, 175175798, 175175899, 175175953, 175175963, 175175965, 175175977, 175176029, 175176047, 175176056, 175176344, 175176436, 175176451, 175176531, 175176568, 175176571, 175176606, 175177097, 175177323, 175177524, 175178016, 175178143, 175178160, 175178308, 175178509, 175178586, 175178761, 175178777, 175178867, 175179013, 175179119, 175179331, 175179363, 175179452, 175179767, 175179841, 175179977, 175180141, 175180373, 175180541, 175180660, 175180749, 175180841, 175180868, 175180986, 175180999, 175181106, 175181224, 175181235, 175181254, 175181332, 175181444, 175181448, 175181499, 175181562, 175181630, 175181726, 175181828, 175181841, 175181912, 175181915, 175181988, 175181998, 175182023, 175182038, 175182057, 175182059, 175182127, 175182149, 175182205, 175182235, 175182268, 175182297, 175182347, 175182355, 175182404, 175182594, 175182605, 175182728, 175182847, 175182873, 175182879, 175182930, 175183023, 175183098, 175183104, 175183144, 175183251, 175183341, 175183348, 175183701, 175183763, 175183766, 175183789, 175183929, 175183975, 175184059, 175184070, 175184095, 175184194, 175184228, 175184256, 175184306, 175184400, 175184414, 175184586, 175184618, 175184656, 175184722, 175184759, 175185042, 175185247, 175185458, 175185515, 175185626, 175185643, 175185716, 175185720, 175185729, 175185766, 175185774, 175185819, 175185838, 175186022, 175186284, 175186462, 175186494, 175186556, 175186667, 175186695, 175186718, 175186751, 175186803, 175186912, 175187014, 175187391, 175187398, 175187431, 175187462, 175187507, 175187531, 175187611, 175187692, 175187881, 175187911, 175187931, 175188020, 175188097, 175188181, 175188337, 175188341, 175188364, 175188392, 175188426, 175188433, 175188542, 175188554, 175188667, 175188698, 175188733, 175188793, 175188852, 175189031, 175189066, 175189084, 175189225, 175189281, 175189307, 175189395, 175189428, 175189519, 175189565, 175189582, 175189612, 175189619, 175189629, 175189988, 175190021, 175190220, 175190263, 175190304, 175190398, 175190569, 175190641, 175190733, 175190743, 175190780, 175190793, 175190862, 175190874, 175190926, 175191045, 175191100, 175191204, 175191269, 175191283, 175191477, 175191606, 175191713, 175191794, 175192202, 175192216, 175192271, 175192329, 175192348, 175192435, 175192878, 175192972, 175193028, 175193275, 175193394, 175193462, 175193476, 175193643, 175193677, 175193721, 175193829, 175193844, 175193978, 175194070, 175194073, 175194161, 175194167, 175194257, 175194381, 175194392, 175194687, 175194780, 175194928, 175194993, 175195107, 175195138, 175195179, 175195230, 175195283, 175195292, 175195374, 175195588, 175195709, 175195761, 175195775, 175195781, 175195790, 175195884, 175195890, 175196010, 175196094, 175196139, 175196161, 175196295, 175196353, 175196397, 175196439, 175196450, 175196483, 175196630, 175196667, 175196675, 175197042, 175197156, 175197239, 175197363, 175197400, 175197596, 175197605, 175197659, 175197710, 175197742, 175198027, 175198109, 175198117, 175198226, 175198309, 175198540, 175198777, 175198810, 175198815, 175198840, 175198860, 175199040, 175199167, 175199193, 175199201, 175199420, 175199431, 175199446, 175199561, 175199573, 175199607, 175199730, 175199862, 175199874, 175199912, 175199954, 175199980, 175200004, 175200124, 175200166, 175200209, 175200231, 175200372, 175200416, 175200456, 175200617, 175200761, 175200803, 175200975, 175201064, 175201121, 175201137, 175201172, 175201223, 175201247, 175201299, 175201323, 175201383, 175201480, 175201482, 175201494, 175201531, 175201538, 175201544, 175201589, 175201591, 175201721, 175201727, 175201753, 175201877, 175201926, 175202022, 175202067, 175202351, 175202470, 175202481, 175202585, 175202656, 175202682, 175202860, 175203008, 175203103, 175203134, 175203193, 175203230, 175203339, 175203438, 175203655, 175203714, 175203778, 175203936, 175203984, 175203989, 175204012, 175204092, 175204198, 175204259, 175204326, 175204339, 175204622, 175204657, 175204698, 175204835, 175204837, 175204939, 175204978, 175205114, 175205162, 175205180, 175205455, 175205469, 175205489, 175205657, 175205694, 175205800, 175205822, 175205930, 175205971, 175206275, 175206390, 175206533, 175206553, 175206596, 175206738, 175206845, 175207259, 175207513, 175207534, 175207544, 175207666, 175207803, 175207904, 175208077, 175208160);

--------------NEXT---INTERATION--------------

    SELECT * FROM YODY_ORDER.nhanh_prod_table
    WHERE billId IN (175114172, 175114601, 175115443, 175115724, 175116705, 175117067, 175117275, 175117688, 175118666, 175118916, 175119957, 175120126, 175121014, 175122551, 175122704, 175123464, 175123483, 175123652, 175124066, 175124711, 175125361, 175126249, 175127159, 175127266, 175127414, 175127689, 175129229, 175129423, 175129571, 175129706, 175129851, 175130057, 175130332, 175130356, 175131168, 175131706, 175131913, 175131947, 175131961, 175132366, 175132980, 175136378, 175136713, 175136914, 175139629, 175141353, 175141617, 175142160, 175142760, 175142928, 175143793, 175144438, 175144917, 175144996, 175146466, 175146874, 175149991, 175150275, 175151540, 175151570, 175152789, 175153338, 175153596, 175155772, 175156371, 175156461, 175156507, 175156577, 175157528, 175157647, 175157740, 175157993, 175158184, 175158493, 175158704, 175159208, 175159570, 175159748, 175159915, 175159930, 175160703, 175161278, 175162826, 175162992, 175163245, 175163584, 175164691, 175164888, 175164998, 175165053, 175165126, 175165129, 175165515, 175165570, 175166095, 175166194, 175168788, 175169109, 175169112, 175169331, 175169409, 175169481, 175169503, 175169534, 175169591, 175170249, 175170531, 175170772, 175170886, 175171938, 175172362, 175173040, 175173985, 175174337, 175175127, 175175703, 175176554, 175176856, 175177198, 175177247, 175177299, 175177509, 175177892, 175177925, 175178000, 175178537, 175178543, 175178666, 175178790, 175179029, 175179045, 175180071, 175180895, 175181354, 175181467, 175181790, 175182478, 175182513, 175183003, 175183022, 175183053, 175183245, 175183746, 175183868, 175184218, 175184435, 175184862, 175184931, 175185095, 175185977, 175186084, 175186208, 175186726, 175187112, 175187402, 175187513, 175187596, 175188587, 175188934, 175189033, 175189097, 175189223, 175189461, 175189760, 175189895, 175190717, 175191504, 175192313, 175193096, 175193214, 175193312, 175193436, 175193656, 175194416, 175194445, 175194601, 175194940, 175195111, 175195669, 175195699, 175195724, 175195959, 175196466, 175196495, 175196695, 175196876, 175197304, 175197326, 175197430, 175198107, 175199465, 175199639, 175199664, 175199856, 175200196, 175200431, 175200924, 175201040, 175201391, 175201670, 175202021, 175202083, 175202220, 175202364, 175202505, 175202922, 175203001, 175203070, 175203133, 175203670, 175203912, 175203926, 175204100, 175204181, 175204263, 175204400, 175204687, 175205002, 175205295, 175205308, 175206500, 175206580, 175206591, 175206794, 175206944, 175207121, 175207669, 175207982, 175208195, 175208559, 175209050);

--------------NEXT---INTERATION--------------

In [69]:
final_df.to_pickle("1-2.pkl")

In [110]:
dff = pd.read_pickle("1-2.pkl")

In [111]:
dff["check_sum"] = dff[('money', 'kid')] + dff[('money', 'polo')] + dff[('money', 'sale_60%')]

In [66]:
final_df.to_pickle("1-9.pkl")

In [53]:
final_df = pd.read_pickle("1-9.pkl")

In [87]:
dsnv = pd.read_excel("dsnv.xlsx")

In [112]:
dsnv = pd.read_excel("dsnv.xlsx")
dsnv["Cửa hàng"] = dsnv["Cửa hàng"].str.split('\n').str[-1]

dff.dropna(subset=["saleId"], inplace=True)
dff.replace({'saleId': {"": 0}}, inplace=True)
dff.saleId = dff.saleId.astype(str).astype(np.int64)

dff = pd.merge(dsnv, dff, how="right", right_on="saleId", left_on="ID")

result_rearranged = dff[['ID', 'Tên đăng nhập', 'Tên đầy đủ', 'Nhóm quyền', 'Điện thoại',
       'Email', 'Cửa hàng', 'Date', 'Doanh Thu',  ('money', 'kid'),
            ('money', 'polo'),  ('money', 'sale_60%'),          ('SL', 'kid'),
               ('SL', 'polo'),     ('SL', 'sale_60%'),                '%polo',
                  '%sale_60%',                 '%kid', 'ASM', "check_sum"]]

result_rearranged.to_excel("final.xlsx")
final = pd.read_excel("final.xlsx", header=None)
final.drop(columns=[0], inplace=True)

C:\Users\Admin\anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

In [113]:
# ACCES GOOGLE SHEET
import gspread
from gspread_dataframe import set_with_dataframe

sheet_id = '12a-yoM2IR3DBa0YeudUiv2a_GmCgKfI7cZhgSIR2zOg'
gc = gspread.service_account(filename=r'GoogleAPICredentials.json') # <--Key
sh = gc.open_by_key(sheet_id) # <-- sheet id
worksheet = sh.worksheet('test2') #->gg sheet name

# APPEND DATA TO SHEET
your_dataframe = final
set_with_dataframe(worksheet, your_dataframe) #-> THIS EXPORTS YOUR DATAFRAME TO THE GOOGLE SHEET